---
import MainLayout from "../layout/MainLayout.astro";
import LinkButton from "../components/LinkButton.astro";
---

<MainLayout title="Homepage">
  <div class="hero-logo">
    <h1>1<span class="lower">2</span>5<span class="lower">7</span>°</h1>
  </div>

  <!-- pilen -->
  <a class="pilen" href="#next-section">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  </a>

  <!-- video -->
  <div class="hero-content">
    <video autoplay muted loop playsinline style="width: 100%; height: auto; object-fit: cover;">
      <source src="/video/hero_video.webm" type="video/webm" />
    </video>
  </div>

  <!-- Galleri Sektion -->
  <section id="next-section" class="gallery">

    <!-- Formen  -->
<div class="grafiske_form">
  <img src="/img/landingpage/grafiskform_index.webp" alt="grøn organisk form" />
  </div> 
  
  <div class="galleri_text">
    <h2 class="overskrift">CLAY COLLECTIVE</h2>
    <p>1257° is more than just a ceramic studio, it's a community where meaningful connections matter just as much as the handmade pieces themselves.</p>
      <svg class="pilen2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="var(--secondary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="9 6 15 12 9 18"></polyline>
      </svg>
  </div>
  
    <div class="gallery-container">
      <div class="gallery-item">
        <img src="/img/landingpage/landingpage_1.webp" alt="billede1">
      </div>
      <div class="gallery-item">
        <img src="/img/landingpage/landingpage_2.webp" alt="billede2">
      </div>
      <div class="gallery-item">
        <img src="/img/landingpage/landingpage_3.webp" alt="billede3">
      </div>
      <div class="gallery-item">
        <img src="/img/landingpage/landingpage_4.webp" alt="billede4">
      </div>
      <div class="gallery-item">
        <img src="/img/landingpage/landingpage_5.webp" alt="billede5">
      </div>
      <div class="gallery-item">
        <img src="/img/landingpage/landingpage_6.webp" alt="billede6">
      </div>
      <div class="gallery-item">
        <img src="/img/landingpage/landingpage_7.webp" alt="billede7">
      </div>
    </div>
  </section>

  <section class="wait_list">

      <!-- Formen2  -->
       <div class="grafiske_form2"> 
        <img src="/img/landingpage/grafisk_form2.webp" alt="grøn organisk form2" />
      </div>
      <div class="waitlist">
        <div class="waitlist-heading">
          <h2>WANT TO JOIN OUR <span class="highlighted">WAITLIST?</span></h2>
          <img src="/img/landingpage/streg.svg" alt="underline" class="underline-img" />
        </div>
        <p>we'd love to hear from you!</p>
        <!-- Knappen -->
          <LinkButton link="/signup">READ MORE</LinkButton>
      </div>
      </div>
  </section>
</MainLayout>

<style>

.hero-logo h1{
  color: var(--primary);
  position: absolute;
  top: 19%;
  left: 26%;
  font-size: 5rem;
}

.lower {
  position: relative;
  top: 0.2em;
}
  
  .hero-content{
    margin-top: -2rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .pilen svg {
    position: absolute;
    top: 34%;
    left: 45%;
    width: 45px;
    height: 45px;
    }

   

    /* GRAFISKE FORMER */
    .grafiske_form img{
    position: absolute;
    left: 0%;
    z-index: -1;
    width: 100%;
    height: auto;
    }

    .grafiske_form2 img{
    position: absolute;
    right: 0%;
    z-index: -1;
    width: 100%;
    height: auto;
    }

/* STYLING FOR GALLERY SECTION */

.gallery-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.galleri_text{
  overflow: hidden;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

.overskrift{
  font-size: var(--h1m);
  margin-top: 5rem;
}
.galleri_text p{
  margin-left: 4rem;
  max-width: 25ch; /*det gør at man kan bestemme hvor brede linjerne kan være */
}

.pilen2{
  margin-top: 1rem;
      width: 45px;
      height: 45px;
      margin-left: 17rem;
    } 

.gallery-item {
  flex: 0 0 auto; /*grow-shrink-basis*/
width: 80%;   /* måske skal man have width: 100%*/
  height: auto;
  scroll-snap-align: start;
}

/* STYLING AF HVERT BILLEDE PÅ GALLERI */
.gallery-item img{
  height: auto;
  object-fit: cover;
}

/* For the first image (smaller and positioned at the top) */
.gallery-item:first-child img {
  width: 40%;
}

/* For the second image (default size) */
.gallery-item:nth-child(2) img {
  width: 70%; /* Default size */
  margin-top: 5rem;
}

/* For the third image (smaller and positioned at the bottom) */
.gallery-item:nth-child(3) img {
  width: 50%; 
  margin-top: 20rem;
}

/* For the fourth image (default size) */
.gallery-item:nth-child(4) img {
  width: 90%;  
}

/* For the fifth and sixth images (slightly smaller) */
.gallery-item:nth-child(5) img {
  width: 50%; 
  margin-top: 2rem;
}

.gallery-item:nth-child(6) img {
  width: 60%; 
  margin-top: 6rem;
}

/* For the last image (larger and centered on the y-axis) */
.gallery-item:last-child img {
  width: 70%; 
}


/* STYLING AF WAITLIST SECTION */
/* hele sektionen */
.wait_list{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* kun teksten */
.waitlist{
  display: grid;
  gap: 1.5rem;  /* gap mellem linjerne */
  justify-items: baseline;
}

/* stroke under "waitlist" */
.waitlist-heading {
  position: relative;
  display: inline-block;
}

.underline-img {
  position: absolute;
  bottom: -0.5em; 
  left: 100%;
  transform: translateX(-100%);
  width: 125px; 
  pointer-events: none;
}

.highlighted {
  position: relative;
  z-index: 1;
}

/* mellem *mediaquery til hero_video */
@media screen and (min-width: 700px) {
  .hero-logo h1{
  top: 26%;
  left: 19%;
  font-size: 10rem;
  }

  .pilen svg {
    top: 78%;
    left: 46%;
    width: 75px;
    height: 75px;
    }
}

  @media screen and (min-width: 800px) {
  .hero-content{
  margin-top: -3rem;
  margin-left: -12rem;
  margin-right: -12rem;
  height: 700px; /* bestemmer højden på videoen */
  overflow: hidden; /* skjuler det, der er uden for containeren */
  }

  .hero-content video{
  object-position: 20% 20%; /* crop bunden og toppen */
  }

  .hero-logo h1{
  top: 30%;
  left: 21%;
  font-size: 20rem;
  }

  .pilen svg {
    top: 78%;
    left: 46%;
    width: 100px;
    height: 100px;
    }
    
    .pilen2{
  margin-top: 2rem;
      width: 75px;
      height: 75px;
      margin-left: 30rem;
    } 

    /* STYLING FOR GALLERY SECTION */
    .gallery {
    display: flex;
    flex-direction: row; 
    /* justify-content: space-between; 
    align-items: flex-start;  */
  }

  .galleri_text {
    flex: 0 0 auto;
    width: 60%; 
    margin-top: 8rem;
  }

  .gallery-container {
    margin-top: 10rem;
  }

  .gallery-item {
    width: 100%; 
    height: auto;
  }

.overskrift{
  font-size: var(--h1d);
  margin-top: 9rem;
}

.galleri_text p{
  margin-left: 15rem;
}

/* GRAFISKE FORMER */
.grafiske_form img{
    width: 65%;
    height: auto;
    }

    .grafiske_form2 img{
      margin-top: -10rem;
    width: 100%;
    height: auto;
    }   

/* STYLING AF WAITLIST SECTION */
/* hele sektionen */
.wait_list{
  margin-top: 25rem;
  margin-bottom: 10rem;
}

/* kun teksten */
.waitlist{
  gap: 2rem;
}

/* stroke under "waitlist" */
.underline-img {
  width: 175px; 
  bottom: -0.7em; 
}
}

</style>
