---
import MainLayout from "../layout/MainLayout.astro";
import TitleIntro from "../components/TitleIntro.astro";
import LinkButton from "../components/LinkButton.astro";
---

<MainLayout title="Sign Up">
  <TitleIntro h1="WORKSHOP PACKAGE" intro="Do you have ceramic experience but lack a workshop? Come and be part of our creative community and sign up for our waitlist" />
  <section class="info_grid">
    <div>
      <h2>FACILITIES INCLUDE</h2>
      <ul>
        <li>Over 120 square meters bright ceramic workshop</li>
        <li>Space divided into 4 different rooms</li>
        <li>Key access - 10 AM to 10 PM daily</li>
        <li>3 top-loading kilns: 45L / 90L / 220L</li>
        <li>Pottery wheels</li>
        <li>Glazing area with spray booth</li>
        <li>Extruder & Kitchenette</li>
      </ul>
    </div>
    <div class="højrestil_knap">
      <h2>MEMBERSHIP: 1.350 DKK PER MONTH AND INCLUDES</h2>
      <ul>
        <li>Access to all facilities</li>
        <li>Clay available by the kilo (firing and glazing included in the price)</li>
        <li>Opportunity to exhibit/sell your work from the workshop</li>
      </ul>
      <LinkButton link="https://docs.google.com/forms/d/1VI-LBiq96dvSxzvnTWuz69y1HA2_Ycni8-gOEQQAZPs/viewform?pli=1&pli=1&edit_requested=true" target="_blank">SIGN UP</LinkButton>
    </div>
  </section>
  <div class="workshop_image">
    <img src="/img/workshop/workshop.webp" alt="studio" />
  </div>
</MainLayout>

<style>
  h2 {
    padding-bottom: 0.8rem;
  }
  ul {
    padding-left: 1rem;
    padding-bottom: 2rem;
  }
  li {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: var(--pm);
    line-height: 1.5;
  }

  .højrestil_knap:last-child {
    display: grid;
    justify-items: end;
  }

  .workshop_image {
    margin-left: -2rem;
    margin-right: -2rem;
    padding-top: 2rem;
  }

  @media (min-width: 600px) {
    .info_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    li {
      font-size: var(--pd);
    }

    .workshop_image {
      margin-left: -3rem;
      margin-right: -3rem;
      padding-top: 3rem;
    }
  }
</style>
