---
const { link, target } = Astro.props;
---

<a href={link} target={target}>
  <slot />
</a>

<style>
  a {
    background-color: var(--primary);
    border: 3px solid var(--accent2);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--secodary);
  }

  @media (min-width: 600px) {
    a {
      font-size: 1.2rem;
      transition: background-color 0.3s ease;
    }

    a:hover {
      background-color: var(--accent2);
      color: var(--primary);
    }
  }
</style>
